{extends layout.latte}

{block title}Login form{/block}

{block body}
		
	<section>
		<form method="post">
			<label>Username
				<input type="text" name="username" required>
			</label>

			<label>Password
				<input type="password" name="passwd" required>
			</label>

			<input type="submit" value="Send">
		</form>

		{if isset($username)} 
			<p>Welcome {$username} your password is {$passwd}</p>
		{/if}
	</section>

{/block}